<br>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <ul class="nav nav-pills report-labels">
      <li class="item">Start date</li>
      <li class="item">End date</li>
      <li class="item">Category</li>
    </ul>
  </div>
  
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-12">
    <%= render partial: "form" %>
  </div>
</div>